form {
    position: relative;
    width: 500px;
    /* height:calc(100vh - 100px); */
    margin-top: 6%;
    margin-right: auto;
    margin-left: auto;
    background: rgb(27 26 26 / 64%);
    padding: 20px 22px;
    border: 1px solid;
    border-top-color: rgba(255,255,255,.4);
    border-left-color: rgba(255,255,255,.4);
    border-bottom-color: rgba(60,60,60,.4);
    border-right-color: rgba(60,60,60,.4);
  }
  
  form input, form button {
    width: 212px;
    border: 1px solid;
    border-bottom-color: rgba(255,255,255,.5);
    border-right-color: rgba(60,60,60,.35);
    border-top-color: rgba(60,60,60,.35);
    border-left-color: rgba(80,80,80,.45);
    /* background-color: rgba(0,0,0,.2); */
    background-repeat: no-repeat;
    padding: 8px 24px 8px 10px;
    /* font: bold .875em/1.25em "Open Sans Condensed", sans-serif; */
    letter-spacing: .075em;
    color:slateblue;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    margin-bottom: 19px;
  }
  .headerStyle{
      color:white;
      font-family: serif;
    font-size: medium;
    margin-bottom:20px;
  }
  .refresh{
      height:16px;
      width:16px;
      margin: 0 2px;
    margin-top: -11px;
  }
  .login-header ul {
        display: flex;  
      }
      .login-header li{
        list-style: none;
      }
  
  
  form input:focus { background-color: rgba(0,0,0,.4); }
 .is-danger{
  float: left;
    color:red;
  }
  .inputborder{
    border:1px solid red;
  }
  .form-username, .form-password{
    margin-bottom: 2px !important;
  }
  .form-top{
    margin-bottom: 54px;
  }